includes:
	- restaurants.neon


parameters:
	googleApiKey: ""

	slack:
		endpoint: ""
		channel: ""

	startPosition:
		latitude: 50.0920809
		longitude: 14.4578808

	wwwSecret: ""

	zomatoUserKey: ""


services:
	- GuzzleHttp\Client
	- LunchCrawler\Date\Calendar
	- LunchCrawler\Distance\Calculator\StraightLineDistanceCalculator
	- LunchCrawler\Output\ConsoleOutputHandler
	- LunchCrawler\Output\OutputHandlerFactory
	- LunchCrawler\Output\Formatter\SymfonyIOResultFormatter
	- LunchCrawler\Output\SlackOutputHandler
	- LunchCrawler\Restaurant\RestaurantFormatter
	- Smalot\PdfParser\Parser

	googleApiDistanceCalculator:
		factory: LunchCrawler\Distance\Calculator\GoogleApiDistanceCalculator
		autowired: false
	straightLineDistanceCalculator:
		factory: LunchCrawler\Distance\Calculator\StraightLineDistanceCalculator
		autowired: false

	calculationDistanceFacade:
		factory: LunchCrawler\Distance\CalculationDistanceFacade(@googleApiDistanceCalculator, @straightLineDistanceCalculator)
		autowired: false
	cacheDistanceFacade: LunchCrawler\Distance\CacheDistanceFacade(@calculationDistanceFacade)


	runCommand: LunchCrawler\Command\RunCommand(Dogma\Geolocation\Position(%startPosition.latitude%, %startPosition.longitude%))
	zomatoRestaurantIdCommand: LunchCrawler\Command\ZomatoRestaurantIdCommand
	application:
		factory: Symfony\Component\Console\Application
		setup:
			- add(@runCommand)
			- add(@zomatoRestaurantIdCommand)


extensions:
	googleDistanceApi: LunchCrawler\Extension\GoogleDistanceApiExtension
	restaurants: LunchCrawler\Extension\RestaurantExtension
	slack: LunchCrawler\Extension\SlackExtension
	zomato: Darkling\ZomatoClient\ZomatoExtension


googleDistanceApi:
	apiKey: %googleApiKey%


slack:
	endpoint: %slack.endpoint%
	channel: %slack.channel%


zomato:
	userKey: %zomatoUserKey%