includes:
	- restaurants.neon


services:
	- GuzzleHttp\Client
	- LunchCrawler\Crawler
	- LunchCrawler\Date\Calendar
	- LunchCrawler\Output\ConsoleOutputHandler
	- LunchCrawler\Output\OutputHandlerFactory
	- LunchCrawler\Output\OutputStringFormatter
	- LunchCrawler\Output\SlackOutputHandler
	- LunchCrawler\Restaurant\RestaurantFormatter
	- Smalot\PdfParser\Parser


	runCommand: LunchCrawler\Command\RunCommand
	zomatoRestaurantIdCommand: LunchCrawler\Command\ZomatoRestaurantIdCommand
	application:
		factory: Symfony\Component\Console\Application
		setup:
			- add(@runCommand)
			- add(@zomatoRestaurantIdCommand)


extensions:
	restaurants: LunchCrawler\Extension\RestaurantExtension
	slack: LunchCrawler\Extension\SlackExtension
	zomato: LunchCrawler\Extension\ZomatoExtension