restaurants:
	- LunchCrawler\Restaurant\PragueKarlin\PetersBurgerPub
	- LunchCrawler\Restaurant\PragueKarlin\HamburkLokal
	- LunchCrawler\Restaurant\PragueKarlin\HostinecUTunelu
	#- LunchCrawler\Restaurant\PragueKarlin\Globus
	- LunchCrawler\Restaurant\PragueKarlin\GlobusHtml
	- LunchCrawler\Restaurant\PragueKarlin\KarlinskaPivnice
