restaurants:
	#- LunchCrawler\Provider\Karlin\CihelnaLaFamiliaHtml
	- LunchCrawler\Provider\Karlin\FuturamaJidelnaHtml
	- LunchCrawler\Provider\Karlin\HamburkLokal
	#- LunchCrawler\Provider\Karlin\HostinecUTuneluZomato
	- LunchCrawler\Provider\Karlin\HostinecUTuneluPdf
	#- LunchCrawler\Provider\Karlin\Globus
	- LunchCrawler\Provider\Karlin\GlobusHtml
	- LunchCrawler\Provider\Karlin\KarlinskaPivnice
	- LunchCrawler\Provider\Karlin\PivoKarlin
	- LunchCrawler\Provider\Karlin\PetersBurgerPub
	- LunchCrawler\Provider\Karlin\Podolka
	- LunchCrawler\Provider\Karlin\Salanda
